# Google App Engine generated folder
appengine-generated/
AAc@http://minecraftforfreex.com/minecraft.html:1101:93
AWd@http://minecraftforfreex.com/minecraft.html:1505:146
A09@http://minecraftforfreex.com/minecraft.html:1479:365
A15@http://minecraftforfreex.com/minecraft.html:1454:305
Bun@http://minecraftforfreex.com/minecraft.html:1484:155
Bhe@http://minecraftforfreex.com/minecraft.html:100:398
Bxs@http://minecraftforfreex.com/minecraft.html:99:187
@http://minecraftforfreex.com/minecraft.html:55:408
@http://minecraftforfreex.com/minecraft.html:15857:117
@http://minecraftforfreex.com/minecraft.html:15857:12
@http://minecraftforfreex.com/minecraft.html:1267:315
@http://minecraftforfreex.com/minecraft.html:1804:114
@http://minecraftforfreex.com/minecraft.html:15324:64
@http://minecraftforfreex.com/minecraft.html:812:23
@http://minecraftforfreex.com/minecraft.html:813:52


eaglercraft.version = "22w07a"
eaglercraft.minecraft = "1.5.2"
eaglercraft.brand = "eagtek"
eaglercraft.username = "DarverEagler93"
eaglercraft.channel = "DarverEagler93_344"

window.minecraftOpts = ["game_frame","blob:http://minecraftforfreex.com/adf44f67-9acb-4aa0-9df2-726d30b4f5dd"]

window.navigator.userAgent = Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/15.4 Safari/605.1.15
window.navigator.vendor = Apple Computer, Inc.
window.navigator.language = en-GB
window.navigator.hardwareConcurrency = 8
window.navigator.deviceMemory = undefined
window.navigator.platform = MacIntel
window.navigator.product = Gecko

rootElement.clientWidth = 1194
rootElement.clientHeight = 834
window.innerWidth = 1194
window.innerHeight = 834
window.outerWidth = 1194
window.outerHeight = 834
window.devicePixelRatio = 2
window.screen.availWidth = 1194
window.screen.availHeight = 834
window.screen.colorDepth = 32
window.screen.pixelDepth = 32

window.currentContext = [object WebGL2RenderingContext]

window.location.href = http://minecraftforfreex.com/minecraft.html
window.location.ancestorOrigins = {"0":"http://minecraftforfreex.com"}

----- Begin Minecraft Config -----
CgAAAA==
----- End Minecraft Config -----

window.minecraftServer = founded
